.about-container {
  display: flex;
  justify-content: center;
  background-color: $color-bg-secondary;
  overflow-x: hidden;
}

.about-us {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  max-width: 168rem;

  @media (min-width: 992px) {
    flex-direction: row;
  }

  @media (min-width: 992px) {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }

  .wrapper {
    max-width: 156rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: 1200px) {
      margin-left: 7rem;
      margin-top: -5rem;
    }

    .section-title {
      @media (max-width: 1200px) {
        font-size: 2.8rem;
      }
    }

    .section-text {
      @media (min-width: 992px) {
        max-width: 44.5rem;
      }
    }

    .about-btn-box {
      margin-top: 3rem;
    }
  }
}