.calculator {
  position: relative;
  margin: 5rem 0 4rem 0;

  @media (min-width: 992px) {
    margin: 5rem 0 12rem 0;
  }
  .content-box {
    position: relative;
    z-index: 10;
    @media (min-width: 991px) {
      display: flex;
      justify-content: space-between;
    }
  }
  .calc-pattern {
    z-index: 1;
    position: absolute;
    right: 0%;
    top: 170px;
    width: 120px;
    @media (min-width: 992px) {
      width: 200px;
      right: 7%;
      top: 0;
    }
  }
  .description {
    align-self: center;
    position: relative;
    z-index: 10;
    max-width: 300px;
    @media (min-width: 992px) {
      margin-right: 82px;
    }
  }

  .section-text {
    margin-top: 1.4rem;
    color: $color-text-secondary;
  }

  .calculator-dropdown {
    width: 300px;
    height: 40px;
  }

  .btn-primary {
    margin-top: 1rem;
  }

  .calculator-container {
    position: relative;
    z-index: 10;
    margin-top: 3rem;
    padding: 3rem 1.5rem;
    background-color: $color-bg;
    box-shadow: 0.4rem 0.4rem 3.2rem -0.4rem rgba(40, 75, 68, 0.15);
    border-radius: 0.8rem;

    @media (min-width: 991px) {
      display: flex;
      justify-content: space-between;
      padding: 4rem;
    }

    .input {
      width: 100%;
    }

    .debt-type {
      margin-top: 1.5rem;
    }

    .dalay-value {
      margin-top: 1.5rem;
    }

    .range-mark {
      padding: 0 0.5rem;
      display: flex;
      justify-content: space-between;

      span {
        color: $color-text-title;
        font-size: 1.4rem;
      }
    }

    .input-style.amount {
      width: 100%;
    }

    .range-placeholder {
      margin-top: 1rem;
      color: $color-text-title;
      font-size: 2rem;

      display: flex;
      justify-content: space-between;
    }
  }

  .calculator-inputs {
    @media (min-width: 991px) {
      padding: 0;
      width: 49%;
    }
  }

  .delay-value {
    @media (min-width: 992px) {
      margin-top: 30px;
    }
  }
  .calculator-outputs {
    margin-top: 1.5rem;
    font-size: 1.6rem;
    @media (min-width: 991px) {
      margin-left: 5rem;
      margin-top: 0;
      width: 45%;
    }

    .output-item {
      display: flex;
      justify-content: space-between;
    }

    .title {
      color: $color-text-title;
      font-size: 2.4rem;
    }

    .placeholder {
      margin-bottom: 0.5rem;
      color: $color-text-title;
    }

    .output {
      margin-bottom: 0.5rem;
      font-size: 1.6rem;
      color: $color-accent;
    }

    .total {
      font-size: 1.8rem;
    }
  }
  .calculator-btn-box {
    margin-top: 36px;
  }

  .note {
    margin-top: 1rem;
    margin-left: 1.5rem;
    color: $color-text-secondary;
    font-size: 1.4rem;
    @media (min-width: 992px) {
      margin-left: 0;
    }
  }
}
