.contacts-wrapper {
    background-color: $color-bg-secondary;
}
.contacts {
    margin: 0 auto;
    padding: 5rem 0;
    @include media-breakpoint-up(md) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .text {
        margin: 0 1.5rem;
        max-width: 26rem;
        @include media-breakpoint-up(md) {
            margin-top: 3rem;
            margin-left: 26rem;
        }
    }
    .section-title {
        margin-bottom: 2.5rem;
    }
    .info-container {
        &:not(:first-of-type) {
            margin-top: 1.5rem;
            @include media-breakpoint-up(md) {
                margin-top: 3rem;
            }
        }
    }
    .label {
        color: $color-text-title;
        font-size: 1.4rem;
        margin-bottom: 0;
        @include media-breakpoint-up(md) {
            font-size: 1.6rem;
        }
    }
    .value {
        color: $color-text-title;
        font-family: "Aeroport Medium";
        font-size: 1.8rem;
        @include media-breakpoint-up(md) {
            font-size: 2rem;
        }
    }

    .map {
        margin-top: 3.4rem;
        @include media-breakpoint-up(md) {
            width: 50%;
        }
    }
}
