.faq {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 5rem 0 5.6rem 0;
    @include media-breakpoint-up(md) {
        max-width: 73rem;
        padding: 10.5rem 0 11.5rem 0;
    }
    .section-title {
        align-self:  center;
    }
    .toggle-item {
        &:not(:last-of-type) {
            border-bottom: 0.1rem solid #dadada;
        }
    }
    .question, .text {
        color: $color-text;
        font-size: 1.6rem;
        line-height: 1.5em;
        @include media-breakpoint-up(md) {
            color: $color-text-title;
            font-size: 2rem;
        }
    }
    .question {
        position: relative;
        display: flex;
        align-items: center;        
        margin: 1.6rem 0;
        span {
            max-width: 30rem;
        }
        @include media-breakpoint-up(sm) {
            span {
                max-width: unset;
            }
            margin: 2rem 0;
        }
        &:before, &:after {
            position: absolute;
            right: 0;
            content: "";
            display: flex;
            width: 1.4rem;
            height: 0.2rem;
            background-color: $color-accent;
            transition: all 0.3s;
        }
        &:after {
            transform: rotate(90deg);
            margin-bottom: -0.2rem;
            transition: all 0.3s;
        }
        &:before {

            margin-bottom: -0.2rem;
        }

    }
    .text {
        display: none
    }

    .opened .question {
        &:after {
            opacity: 0;
        }
    }
}