.how-it-works {
  padding: 4.8rem 0 18rem 0;
  background-color: #f6f7f8;

  @media (min-width: 992px) {
    padding: 11rem 10rem 21rem 10rem;
  }

  @media (min-width: 1200px) {
    padding: 11rem 10rem;
  }

  .col-xl-3 {

    //sorry for this
    @media (min-width: 1200px) {
      flex: 0 0 50%;
      max-width: 50%;
    }

    @media (min-width: 1300px) {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }

  .container {
    @media (min-width: 992px) {
      max-width: 148rem;
      padding: 0;
    }
  }

  .row {
    margin-top: 3.3rem;

    @media (min-width: 768px) {
      margin-bottom: 10rem;
    }

    @media (min-width: 992px) {
      margin-top: 5rem;
      margin-bottom: 5rem;
    }
  }

  .section-title {
    text-align: center;

    @media (min-width: 992px) {
      text-align: left;
    }
  }

  .card-list {
    display: flex;
    flex-direction: column;

    .card {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      background-color: unset;
      border: none;

      &:not(:first-of-type) {
        margin-top: 4rem;

        @media (min-width: 768px) {
          margin-top: 0;
        }
      }

      &:nth-of-type(1),
      &:nth-of-type(2) {
        @media (min-width: 768px) {
          margin-bottom: 4rem;
        }

        @media (min-width: 1200px) {
          margin-bottom: 0rem;
        }
      }

      .step {
        margin-top: 0;
        min-width: 5.5rem;
        margin-right: 2rem;
        font-size: 9.5rem;
        line-height: 0.6em;
        color: #13bf9c;
        opacity: 0.1;
        text-align: right;

        @media (min-width: 768px) {
          margin-top: unset;
          min-width: 7.5rem;
        }

        @media (min-width: 1200) {
          font-size: 13.5rem;
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6.4rem;
        height: 6.4rem;
        background-color: rgba(19, 191, 156, 0.1);
        border-radius: 0.8rem;

        img {
          height: 3.2rem;
        }
      }

      .card-title {
        margin-top: 1.8rem;
        margin-bottom: 0.7rem;
        color: #1f1f1f;
         
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 1.18em;
      }

      .card-text {
        margin-bottom: 2rem;
        color: #626262;
        font-family: Aeroport;
        font-size: 1.6rem;
        line-height: 1.57em;
        max-width: 25rem;
      }
    }
  }
}