.reviews {
  padding-top: 5rem;
  padding-bottom: 9rem;
  background-color: $color-bg-secondary;
  @media (min-width: 992px) {
    padding-top: 10rem;
    padding-bottom: 11rem;
  }
  .container {
    position: relative;
  }
  .section-subtitle {
    margin-top: 1.5rem;
    color: $color-text-secondary;
    font-size: 1.4rem;
    line-height: 1.57em;
    text-transform: none;
    @media (min-width: 992px) {
      font-size: 1.6rem;
    }
  }

  .text {
    padding-top: 9.5rem;
    color: #626262;
    font-size: 1.6rem;
    line-height: 1.5em;
    @media (min-width: 992px) {
      font-size: 2rem;
      line-height: 1.4em;
    }
    .comment-decor {
      position: absolute;
      top: 0;
      width: 13.5rem;
    }
  }
  .reviewer {
    margin-top: 2.6rem;
    display: flex;
    align-items: center;
  }
  .reviewer-image {
    width: 6.4rem;
  }
  .reviewer-name {
    margin-left: 3rem;
    color: $color-text-title;
    font-family: "Aeroport Medium";
    font-size: 2rem;
    font-weight: 500;
  }

  // .slick-prev,
  // .slick-next {
  //   top: unset;
  //   left: unset;
  //   bottom: -5rem;
  //   right: 50%;
  //   transform: translateX(-50%);
  //   &:before {
  //     content: unset;
  //   }
  // }
  // .slick-prev {
  //   transform: scale(-1, 1);
  //   margin-left: -3rem;
  // }
  // .slick-next {
  //   margin-right: -3rem;
  // }
}
