.services-container {
  padding-top: 4.8rem;
  padding-bottom: 6rem;

  @media (min-width: 768px) {
    padding-bottom: 69rem;
  }

  @media (min-width: 992px) {
    padding: 11rem 0 11rem;
  }
}

.services {
  position: relative;

  .section-title {
    position: relative;
    margin-bottom: 3.3rem;
    text-align: center;

    @media (min-width: 768px) {
      margin-left: 8rem;
      text-align: left;
    }

    .pattern {
      width: 12rem;
      transform: translateY(-1.5rem) translateX(-6rem);
    }
  }

  .slick-list {
    padding: 3rem;
    margin: 0 4rem;
  }

  .slick-slide {
    margin-left: 3rem;
  }

  .card:not(:first-of-type) {
    margin-top: 3rem;
  }

  .services-next,
  .services-prev {
    display: none;

    @media (min-width: 768px) {
      display: block;
    }
  }

  .card {
    padding: 2rem 3rem 3.4rem 3rem;
    box-shadow: 0.4rem 0.4rem 3.2rem -0.4rem rgba(40, 75, 68, 0.15);
    border-radius: 0.8rem;
    border: none;

    @media (min-width: 768px) {
      margin: 0;
    }

    .card-title {
      margin-bottom: 1.5rem;
      color: #1f1f1f;

      font-size: 2.2rem;
      font-weight: 500;
      line-height: 1.18em;
    }

    .card-text {
      margin-bottom: 2rem;
      color: #626262;
      font-family: Aeroport;
      font-size: 1.4rem;
      line-height: 1.57em;
    }

    .card-price {
      margin-bottom: 2.3rem;
      color: #13bf9c;

      font-size: 2.8rem;
      font-weight: 500;
      line-height: 1.28em;
    }

    .about-service {
      color: $color-accent;
    }
  }

  .service-info {
    margin-top: 1.5rem;
  }

}