.footer {
  max-width: 156rem;
  margin: 0 auto;
  padding: 1.4rem 0;
  display: flex;
  flex-direction: column;

  justify-content: space-between;

  .section-text {
    margin-bottom: 0;
  }

  @include media-breakpoint-up(md) {
    flex-direction: row;
  }
}
