.input, .select {
    color: $color-text-secondary;
    font-size: 1.6rem;

    border-radius: 8px;
    border: 1px solid #dadada;
    outline: none;
    &:focus {
        border-color: $color-text-title;
    }
}

.input {
    padding: 1.2rem 1.6rem; 
}


//track
input[type=range] {
    height: 22px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #13BF9C;
    border-radius: 50px;
    border: 0px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 8px rgba(40, 75, 68, 0.25);
    border: 0px solid #FFFFFF;
    height: 16px;
    width: 16px;
    border-radius: 50px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #13BF9C;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #13BF9C;
    border-radius: 50px;
    border: 0px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 8px rgba(40, 75, 68, 0.25);
    border: 0px solid #FFFFFF;
    height: 16px;
    width: 16px;
    border-radius: 50px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #13BF9C;
    border: 0px solid #000000;
    border-radius: 100px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #13BF9C;
    border: 0px solid #000000;
    border-radius: 100px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 8px rgba(40, 75, 68, 0.25);
    border: 0px solid #FFFFFF;
    height: 16px;
    width: 16px;
    border-radius: 50px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #13BF9C;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #13BF9C;
  }