.modal-layout {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: none;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.4);
}

.modal-layout.visible {
  display: flex;
}

.modal-container {
  position: relative;
  max-width: 34.5rem;
  margin: 0 1.5rem;
  padding: 4.5rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $color-bg;

  @include media-breakpoint-up(md) {
    max-width: 73rem;
    padding: 7.5rem 13rem;
  }

  .modal-form {
    display: flex;
    flex-direction: column;
  }

  .section-title {
    letter-spacing: 0;

    @include media-breakpoint-down(lg) {
      font-size: 3.2rem;
    }
  }

  .section-subtitle {
    text-transform: none;
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: 0;
    // @include media-breakpoint-down(lg) {
    //   font-size: 3.2rem;
    // }
  }

  .section-text {
    text-align: center;
    margin-top: 1.1rem;

    @include media-breakpoint-down(lg) {
      font-size: 1.4rem;
    }

    @include media-breakpoint-up(lg) {
      max-width: 470px;
    }
  }

  .btn-close {
    position: absolute;
    top: 3rem;
    right: 2rem;

    @include media-breakpoint-up(lg) {
      top: 4rem;
    }

    &:before,
    &:after {
      content: "";
      display: flex;
      width: 2.4rem;
      height: 0.2rem;
      background-color: #dadada;
      transition: all 0.3s;

      @include media-breakpoint-up(lg) {
        width: 3.8rem;
        height: 0.3rem;
      }
    }

    &:before {
      transform: rotate(-45deg);
      margin-bottom: -0.2rem;
    }

    &:after {
      margin-top: -0.2rem;
      transform: rotate(45deg);
    }
  }
}