.modal-call {
    .modal-form {
        margin-top: 1.7rem;

        .phone {
            margin-top: 1.5rem;
        }

        .btn-submit {
            width: unset;
            margin-top: 1.5rem;
        }
    }
}