.modal-service-purchase {
    .modal-form {
        margin-top: 1.7rem;

        .phone {
            margin-top: 1.5rem;
        }

        .btn-submit {
            width: 30rem;
            height: 5.4rem;
            margin-top: 1.5rem;
            padding: 1.2rem 4.7rem;
        }
    }
}