<!DOCTYPE html>
<html lang="ru">

<body>
  <% var data = { title: "Заголовок | Проект", author: "Harrix" }; %> <%=
    _.template(require('./../includes/head.html').default)(data) %> <%=
    _.template(require('./../includes/header.html').default)(data) %> <%=
    _.template(require('./../includes/sections/hero.html').default)(data) %> <%=
    _.template(require('./../includes/sections/about-us.html').default)(data) %>
  <%= _.template(require('./../includes/sections/ticker.html').default)(data)
    %> <%=
    _.template(require('./../includes/sections/services.html').default)(data) %>
  <%=
    _.template(require('./../includes/sections/how-it-works.html').default)(data)
    %> <%=
    _.template(require('./../includes/sections/details.html').default)(data) %>
  <%=
    _.template(require('./../includes/sections/calculator.html').default)(data)
    %> <%=
    _.template(require('./../includes/sections/reviews.html').default)(data) %>
  <%= _.template(require('./../includes/sections/faq.html').default)(data) %>
  <%=
    _.template(require('./../includes/sections/contacts.html').default)(data) %>
  <%= _.template(require('./../includes/footer.html').default)(data) %>

  <!-- modals -->
  <%=
    _.template(require('./../includes/sections/modal-call.html').default)(data)
    %>
  <%=
    _.template(require('./../includes/sections/modal-service-purchase.html').default)(data)
    %>
  <div>
    <p>test block for modals and registration</p>
    <button class="btn btn-primary" id="call">Связаться</button>
    <button class="btn btn-primary" id="order">Заказать услугу</button>
    <button>1</button>
  </div>
</body>

</html>