<div class="modal-layout">
  <div class="modal-container modal-pay">
    <h5 class="section-title">Оплата</h5>
    <p class="section-subtitle">Моя гражданская позиция - 299 грн.</p>
    <form>
      <div>
        <input type="number" placeholder="XXXX XXXX XXXX XXXX" />
      </div>
      <div>
        <input type="number" lenght="2" placeholder="XX" />
        <input type="number" lenght="2" placeholder="XX" />
        <input type="number" lenght="3" placeholder="CVV2" />
      </div>
      <button class="btn btn-primary btn-pay" type="submit">Оплатить</button>
    </form>
  </div>
</div>
