@import "./variables";

html {
  font-size: 10px;
  @media (min-width: 1920px) {
    font-size: 13px;
  }
}

body {
  font-size: 1.6rem;
  font-family: "Aeroport", "sans-serif";
}

.section-title {
  color: $color-text-title;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.125em;

  @media (min-width: 1200px) {
    font-family: "Aeroport Medium";
    font-size: 4.8rem;
  }
}

.pattern {
  width: 19.6rem;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-3.5rem) translateX(-4rem);
}

.section-subtitle {
  position: relative;
  color: #13bf9c;
  font-size: 1.2rem;
  letter-spacing: 0.16rem;
  text-transform: uppercase;

  .pattern {
    display: none;

    @media (min-width: 1200px) {
      display: block;
    }
  }

  @media (min-width: 1200px) {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
  }
}

.section-text {
  color: $color-text;
  font-size: 1.6rem;
  line-height: 1.5em;
}

.custom-button {
  width: 20rem;
  height: 4.8rem;
  color: #ffffff;
  font-family: "Aeroport Medium";
  font-size: 1.6rem;
  font-weight: 500;
  background-color: $color-accent;
  border-radius: 0.5rem;
  border: none;
  overflow: hidden;
  span {
    color: #fff;
  }
  &:hover {
    span {
      animation: appearance 0.8s ease-in-out;
    }
  }

  span {
    display: block;
  }

  &:hover {
    background-color: $color-accent;
  }

  @media (min-width: 1200px) {
    width: 220px;
    height: 54px;
    border-radius: 8px;
    font-size: 1.8rem;
  }
}

.social-container {
  display: flex;

  .social-link {
    color: $color-text-secondary;
    font-family: "Aeroport Medium";
    font-size: 1.8rem;

    &:not(:first-of-type) {
      margin-left: 4rem;
    }
  }
}

.slick-prev.slick-disabled,
.slick-next.slick-disabled {
  svg {
    -webkit-clip-path: inset(0 0% 0% 35%);
    clip-path: inset(0 0% 0% 35%);
  }

  path {
    fill: $color-text-secondary;
  }
}

.slick-prev,
.slick-next {
  top: unset;
  left: unset;
  bottom: -5rem;
  right: 50%;
  transform: translateX(-50%);
  width: 48px;

  @media (min-width: 992px) {
    top: unset;
    left: unset;
    bottom: -5rem;
    right: 6rem;
    transform: unset;
  }

  &:before {
    content: unset;
  }
}

.slick-prev {
  transform: scale(-1, 1);
  // margin-left: -3rem;

  @media (min-width: 992px) {
    margin-left: unset;
    right: 8rem;
  }
}

.slick-next {
  @media (min-width: 992px) {
    margin-right: unset;
  }
}

.slick-prev {
  left: unset;
  right: 11rem;
  transform: scale(-1, 1);
}
.slick-next {
}

@keyframes appearance {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  50% {
    transform: translateY(-50px);
    opacity: 0;
  }

  51% {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes appearanceBottom {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
