@import "./variables";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  font-size: 10px;

  @media (min-width: 1920px) {
    font-size: 11.5px;
  }
}

body {
  font-size: 1.6rem;
  font-family: "Aeroport", "sans-serif";
}

a {
  &:hover {
    text-decoration: none;
  }
}

.section-title {
  color: $color-text-title;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.125em;
  margin-top: 1.3rem;
  margin-bottom: 2.4rem;

  @media (min-width: 1200px) {

    font-size: 4.8rem;
  }
}

.pattern {
  width: 11.6rem;
  position: absolute;
  top: -4rem;
  left: -5.5rem;
  -webkit-clip-path: inset(1%0 0 20% 0);
  clip-path: inset(10% 0 20% 0);


  @media (min-width: 992px) {
    width: 19.6rem;
    top: 0;
    left: 0;
    transform: translateY(-3.5rem) translateX(-4rem);

    -webkit-clip-path: unset;
    clip-path: unset;
  }
}

.section-subtitle {
  position: relative;
  color: #13bf9c;
  font-size: 1.2rem;
  letter-spacing: 0.16rem;
  text-transform: uppercase;
  margin: 0;

  .pattern {
    // display: none;

    @media (min-width: 1200px) {
      display: block;
    }
  }

  @media (min-width: 1200px) {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
  }
}

.section-text {
  color: $color-text;
  font-size: 1.6rem;
  line-height: 1.5em;
}

.custom-button {
  width: 20rem;
  height: 4.8rem;
  color: #ffffff;

  font-size: 1.6rem;
  font-weight: 500;
  background-color: $color-accent;
  border-radius: 0.5rem;
  border: none;
  overflow: hidden;

  span {
    color: #fff;
  }

  &:focus {
    box-shadow: none;
  }

  &:hover {
    color: #fff;

    span {
      animation: appearance 0.8s ease-in-out;
    }
  }

  span {
    display: block;
  }

  &:hover {
    background-color: $color-accent;
  }

  @media (min-width: 1200px) {
    width: 220px;
    height: 54px;
    border-radius: 8px;
    font-size: 1.8rem;
  }
}

.social-container {
  display: flex;

  .social-link {
    color: $color-text-secondary;

    font-size: 1.8rem;

    &:hover {
      color: $color-text-primary;
    }

    &:not(:first-of-type) {
      margin-left: 4rem;
    }
  }
}

.slider-prev.slick-disabled,
.slider-next.slick-disabled {
  svg {
    -webkit-clip-path: inset(0 0% 0% 35%);
    clip-path: inset(0 0% 0% 35%);
  }

  path {
    fill: $color-text-secondary;
  }
}

.slider-prev,
.slider-next {
  position: absolute;
  top: unset;
  left: unset;
  bottom: -5rem;
  right: 50%;
  transform: translateX(140%);
  width: 48px;

  @media (min-width: 768px) {
    right: 10rem;
  }

  // &:before {
  //   content: unset;
  // }
}

.slider-prev {
  transform: scale(-1, 1);
}

.dropdown {
  font-size: 1.6rem;

  .btn-secondary.dropdown-toggle {
    position: relative;
    width: 100%;
    padding: 1.4rem 1.6rem;

    color: $color-text-secondary;
    background-color: $color-bg;
    font-size: 1.6rem;
    text-align: left;

    border-radius: 0.8rem;
    border: 0.1rem solid $color-input-border;
    background-color: $color-bg;

    &:active {
      color: currentColor;
      background-color: unset;
      border-color: currentColor;
    }

    &:after {
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;

      display: block;
      width: 1.2rem;
      height: 1.2rem;

      border-color: currentColor;
      border-width: 0.1rem;
      border-right: unset;
      transform: rotate(-135deg);
    }
  }

  .dropdown-menu {
    width: 100%;
    top: -8px;
    margin-top: -0.8rem;
    border-top: unset;
    border-radius: 0 0 0.8rem 0.8rem;

    .dropdown-item {
      padding: 1.4rem 1.6rem;

      color: $color-text-title;
      font-size: 1.6rem;

      border-top: 0.1rem solid $color-input-border;

      &:first-of-type {
        margin-top: 3px;
      }
    }
  }
}

.tooltip-trigger {
  position: relative;
  display: inline-block;

  .tooltip-content {
    position: absolute;
    top: -70px;
    right: -100px;

    width: 21.6rem;
    padding: 2rem 3rem;
    display: none;

    justify-content: center;
    align-items: center;

    border-radius: 0.5rem;
    box-shadow: 4px 4px 16px -2px rgba(40, 75, 68, 0.15);
    background-color: #ffffff;

    color: #1f1f1f;
    font-family: Aeroport;
    font-size: 16px;
  }

  &:hover {
    .tooltip-content {
      display: flex;
    }
  }

  .tooltip-icon {
    width: 1.1rem;
  }
}

//range picker
.ui-widget {
  .ui-widget-content {
    border: none;
  }
}

// .slick-prev {
//   left: unset;
//   right: 8rem;
//   transform: scale(-1, 1);
// }

// .slick-next {
//   bottom: -3rem;
// }

@keyframes appearance {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  50% {
    transform: translateY(-50px);
    opacity: 0;
  }

  51% {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes appearanceBottom {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}