$color-accent: #13bf9c;
$color-bg: #fff;
$color-bg-secondary: #f6f7f8;
$color-text: #626262;
$color-text-title: #1f1f1f;
$color-text-primary: #1f1f1f;
$color-text-secondary: #bcbcbc;
$color-input-border: #dadada;